a{
  color: white;
  text-decoration: none;
}

body{
    font-family: sans-serif;
    margin: 0;
}

/* section one styles */
.section1{
  color: white;
  background-color: #1f2937;
}
.s1-upper{
  display: flex;  
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 0 250px;
}
.section1-links{
  align-items: center;  
  display: flex;
  gap: 32px;
}
.s1-lowwer{
  display: flex;
  gap: 100px;
  padding: 100px 250px 100px;
  font-size: 1.2rem;
}
.s1-img{
  width: 600px;
  height: 400px;
}
.s1-sign-up-button{
  background-color: #3882f6;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 3px 18px;
  margin-top: 15px;
  
}
/* section two styles */
.section2{
    text-align: center;
}
.img-cointainer{
    display: flex;
}
.img-succes{
    height: 240px;
    width: 200px;
    border-radius: 20px;

}

.section3{
    background-color: #e5e7eb;    
}

.section4{
}

.footer{
  background-color:  #1f2937;
}